# 1.Problem
The task is to predict future sales from given time series data.It is a regression problem.

# 2. Data
The data is taken from kaggle competition.
https://www.kaggle.com/c/competitive-data-science-predict-future-sales/data

# 3. Evaluation 
The evaluation metric is root mean squared error.The root mean squared should be less as possible.
https://www.kaggle.com/c/competitive-data-science-predict-future-sales/overview/evaluation

# 4.Features
Data fields
* ID - an Id that represents a (Shop, Item) tuple within the test set
* shop_id - unique identifier of a shop
* item_id - unique identifier of a product
* item_category_id - unique identifier of item category
* item_cnt_day - number of products sold. You are predicting a monthly amount of this measure
* item_price - current price of an item
* date - date in format dd/mm/yyyy
* date_block_num - a consecutive month number, used for convenience. January 2013 is 0, February 2013 is 1,..., October 2015 is * 33
* item_name - name of item
* shop_name - name of shop
* item_category_name - name of item category

To see profound features see the link below.
https://www.kaggle.com/c/competitive-data-science-predict-future-sales/data

## 4.1 Exploratory data analysis

In [1]:
# Getting our tools ready
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [14]:
## Getting the train data using pandas
train=pd.read_csv("Time series kaggle/sales_train.csv",parse_dates=["date"])

In [20]:
train=train.sort_values(by="date",ascending=True)

In [21]:
train.head(10)

             date  date_block_num  shop_id  item_id  item_price  item_cnt_day
109593 2013-01-01               0       46    18616       349.0           1.0
85162  2013-01-01               0       54    11854       199.0           1.0
18128  2013-01-01               0       28     4906      1799.0           1.0
112216 2013-01-01               0       42     2931        99.0           1.0
85141  2013-01-01               0       54    11604       349.0           1.0
47143  2013-01-01               0       15     3686       899.0           1.0
85130  2013-01-01               0       54    11576       149.0           1.0
85129  2013-01-01               0       54    11573       148.0           1.0
85124  2013-01-01               0       54    11562       299.0           1.0
85115  2013-01-01               0       54    11822       349.0           1.0

In [22]:
train_tmp=train.copy()

In [34]:
train_tmp.drop("date",axis=1,inplace=True)

In [38]:
train_tmp.drop(["date_block_num","item_price"],axis=1,inplace=True)

In [41]:
train_tmp.info()
X=train_tmp.drop("item_cnt_day",axis=1)
y=train_tmp["item_cnt_day"]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2935849 entries, 109593 to 2898514
Data columns (total 3 columns):
 #   Column        Dtype
---  ------        -----
 0   shop_id       int64
 1   item_id       int64
 2   item_cnt_day  float64
dtypes: float64(1), int64(2)
memory usage: 89.6 MB

In [24]:
train_tmp["date"].value_counts()

2013-12-28    9434
2013-12-29    9335
2014-12-30    9324
2013-12-30    9138
2014-12-31    8347
              ...
2015-05-14    1174
2015-04-28    1154
2015-06-10    1152
2015-05-13    1128
2015-12-05    1123
Name: date, Length: 1034, dtype: int64

In [25]:
test=pd.read_csv("Time series kaggle/test.csv")

In [27]:
test

            ID  shop_id  item_id
0            0        5     5037
1            1        5     5320
2            2        5     5233
3            3        5     5232
4            4        5     5268
...        ...      ...      ...
214195  214195       45    18454
214196  214196       45    16188
214197  214197       45    15757
214198  214198       45    19648
214199  214199       45      969

[214200 rows x 3 columns]

In [29]:
sample=pd.read_csv("Time series kaggle/sample_submission.csv")

In [31]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214200 entries, 0 to 214199
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              214200 non-null  int64
 1   item_cnt_month  214200 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 3.3 MB

In [32]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214200 entries, 0 to 214199
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   ID       214200 non-null  int64
 1   shop_id  214200 non-null  int64
 2   item_id  214200 non-null  int64
dtypes: int64(3)
memory usage: 4.9 MB

In [33]:
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [43]:
%%time
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
model.fit(X,y)

KeyboardInterrupt:

In [56]:
len(X)

2935849

In [57]:
%%time 
model=RandomForestRegressor()
model.fit(X,y)

Wall time: 18min 26s

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [47]:
test.drop("ID",axis=1,inplace=True)

In [48]:
test

        shop_id  item_id
0             5     5037
1             5     5320
2             5     5233
3             5     5232
4             5     5268
...         ...      ...
214195       45    18454
214196       45    16188
214197       45    15757
214198       45    19648
214199       45      969

[214200 rows x 2 columns]

In [58]:
y_preds=model.predict(test)

In [59]:
submit=pd.DataFrame(columns=["ID","item_cnt_month"])

In [60]:
submit

Empty DataFrame
Columns: [ID, item_cnt_month]
Index: []

In [64]:
submit["ID"],submit["item_cnt_month"]=np.arange(0,214200,1),1

In [65]:
submit

            ID  item_cnt_month
0            0               1
1            1               1
2            2               1
3            3               1
4            4               1
...        ...             ...
214195  214195               1
214196  214196               1
214197  214197               1
214198  214198               1
214199  214199               1

[214200 rows x 2 columns]

In [66]:
submit.to_csv("Time series kaggle/submit_3.csv",index=False)

In [3]:
import pandas as pd

In [2]:
train=pd.read_csv("train.csv")

In [4]:
new=pd.read_csv("train_preprocessed.csv")